<nav class="pk-navbar js--navbar" *ngIf="userLogged">
  <div class="pk-navbar__container">
    <h2 class="pk-navbar__header js--navbar-header">Componentes</h2>
    <ul class="pk-navbar__items js--navbar-items">
      <li class="pk-navbar__item is--active js--navbar-item">
        <a class="pk-navbar__link js--navbar-link" routerLink="/dashboard">
          <mat-icon class="pk-navbar__icon">dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="pk-navbar__item js--navbar-item">
        <a class="pk-navbar__link js--navbar-link" routerLink="/perfil">
          <mat-icon class="pk-navbar__icon">assignment_ind</mat-icon>
          <span>Meu Perfil</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
