@import './../../../../assets/scss/_config-base';

$header: '.pk-navbar__header';
$item: '.pk-navbar__item';
$link: '.pk-navbar__link';

.pk-navbar {
  @include rem(width, 260px);
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  background-color: $color-blue-grey-dark;
  transition: 0.5s ease;

  @include mq('md', max) {
    @include rem(width, 230px);
    top: 50px;
    height: calc(100vh - 50px);
    transform: translateX(-100%);
  }

  &__header {
    @include rem(padding, 15px 20px);
    @include rem(font-size, 12px);
    @include rem(letter-spacing, 1px);
    background-color: $color-blue-grey-darken;
    color: #bbb;
    text-transform: uppercase;
    text-align: center;
    transition: .5s ease;
  }

  &__item {
    @include rem(padding, 15px 20px);
    cursor: pointer;
    color: #b8c7ce;
    transition: .3s ease;

    &.is--active {
      @include rem(padding-left, 15px);
      border-left: 4px solid $color-primary;
      background-color: $color-background-navbar-item;
      color: #fff;
    }

    &:hover {
      background-color: $color-background-navbar-item;
      color: #fff;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    span {
      transition: .5s ease;
    }
  }

  &__icon {
    @include rem(margin-right, 10px);
  }

  &.is--toggle {
    @include mq('md') {
      width: 60px;

      #{$header} {
        font-size: 0;
        padding: 0;
      }

      #{$item}:hover {
        #{$link} span {
          @include rem(font-size, 15px);
          @include rem(border-radius, 0 5px 5px 0);
          padding: 19px 10px;
          background-color: #212b31;
          transform: scaleX(1);
        }
      }

      #{$link} span {
        position: absolute;
        left: 60px;
        font-size: 0;
        width: 180px;
        transform: scaleX(0);
        transform-origin: left;
      }
    }

    @include mq('md', max) {
      transform: translateX(0%);
    }
  }
}
