<section class='pk-dashboard pk-section is--hidden js--section'>
  <div class='pk-dashboard__container'>
    <h1 class='pk-dashboard__heading'>Dashboard</h1>
    <div class='pk-dashboard__content'>
      <div class='pk-dashboard__items'>
        <div class='pk-dashboard__item' *ngFor='let item of passwords'>
          <span class='pk-dashboard__item--name'>{{ item.name }}</span>
          <span class='pk-dashboard__item--description'>{{ item.description }}</span>
          <div class='pk-dashboard__item--password-container'>
              <span class='pk-dashboard__item--password'>{{ item.password }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
