.pk-form {
  &__fieldset {
    @include mq('sm') {
      @include rem(padding, 0 30px);
    }
    @include mq('sm', max) {
      padding: 0;
    }
    transition: all .5s ease;
  }
  &__group {
    @include rem(margin-bottom, 10px);

    &:last-child {
      text-align: center;
    }
  }
  &__control {
    width: 100%;
  }
  &__icon {
    vertical-align: bottom;
    color: $color-gray;
  }
  &__button {
    @include rem(font-size, 16px);
    @include rem(border-radius, 50px !important);
    @include rem(min-width, 100px);
    @include font-weight(semi-bold);

    &[disabled] {
      cursor: not-allowed;
    }
  }
}
