<header class='pk-header js--header' *ngIf="userLogged">
  <div class='pk-header__menu js--header-menu'>
    <figure class='pk-header__menu--icon js--header-menu-icon'>
      <img src='assets/img/icon-w.png' alt='Password Keeper - Icon'>
    </figure>
    <figure class='pk-header__menu--name js--header-menu-name'>
      <img src='assets/img/name-w.png' alt='Password Keeper - Name'>
    </figure>
    <div class='pk-header__menu--button js--header-button' (click)='toggleMenu()'>
      <mat-icon></mat-icon>
    </div>
  </div>
</header>
