@import './../../../../assets/scss/__config-base.scss';

$menu: '.pk-header__menu';

.pk-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: $color-primary;

  @include mq('md', max) {
    height: 50px;
  }

  &__menu {
    @include rem(width, 260px);
    @include rem(padding, 10px 20px);
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    background-color: $color-teal-darken;
    transition: .5s ease;

    @include mq('md', max) {
      @include rem(width, 230px);
      transform: translateX(-100%);
    }

    &--container {
      height: 100%;
    }

    &--icon {
      display: none;
      height: 100%;

      img {
        height: 100%;
      }
    }

    &--button {
      @include rem(width, 60px);
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: -60px;
      height: 100%;
      color: white;
      transition: .3s ease;

      &:hover {
        background-color: $color-teal-darken;
      }

      .mat-icon::before {
        content: '\e5d2';
      }
    }

    &.is--toggle {
      @include mq('md') {
        @include rem(padding, 5px);
        width: 60px;
      }

      @include mq('md', max) {
        transform: translateX(0%);
      }

      #{$menu}--icon {
        @include mq('md') {
          display: block;
        }
      }

      #{$menu}--name {
        @include mq('md') {
          display: none;
        }
      }

      #{$menu}--button {
        .mat-icon::before {
          @include mq('md', max) {
            content: '\e5cd';
          }
        }
      }
    }
  }
}
