<section class='pk-login is--hidden js--login'>
  <div class='pk-login__container js--login-container'>
    <div class='pk-login__wrap js--login-wrap'>
      <!-- Sign In -->
      <div class='pk-login__signIn js--login-signIn'>

        <!-- Heading -->
        <div class='pk-login__signIn--heading'>
          <figure class='pk-login__signIn--heading-icon is--hidden js--login-icon'>
            <img class='js--login-icon-img' src='assets/img/icon.png' alt='Password Keeper - Icon'>
          </figure>
          <figure class='pk-login__signIn--heading-name is--hidden js--login-name'>
            <img src='assets/img/name.png' alt='Password Keeper - Name'>
          </figure>
        </div>

        <!-- Form -->
        <div class='pk-login__signIn--form'>
          <!-- Login Form -->
          <form class='pk-form pk-login__signIn--form-login js--form-login' [formGroup]='loginForm' (ngSubmit)='login()'>
            <p>Faça o login para acesso a aplicação</p>
            <fieldset class='pk-form__fieldset'>
              <div class='pk-form__group'>
                <mat-form-field class='pk-form__control'>
                  <span matPrefix>
                    <mat-icon class='pk-form__icon'>email</mat-icon>&nbsp;
                  </span>
                  <input matInput placeholder='E-mail' formControlName='email' required>
                  <mat-error *ngIf='loginEmail.errors?.required'>
                    Digite um e-mail
                  </mat-error>
                  <mat-error *ngIf='loginEmail.errors?.email'>
                    Insira um e-mail válido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class='pk-form__group'>
                <mat-form-field class='pk-form__control'>
                  <span matPrefix>
                    <mat-icon class='pk-form__icon'>lock</mat-icon>&nbsp;
                  </span>
                  <input class='js--form-password' type='password' matInput placeholder='Senha' formControlName='password' required>
                  <mat-hint>A senha deve ter no mínimo 6 caracteres</mat-hint>
                  <mat-error *ngIf='loginPassword.errors?.required'>
                    Digite a senha
                  </mat-error>
                </mat-form-field>
                <mat-checkbox class='pk-login__signIn--form-showPasword' color='primary' (change)="toggleViewPassword($event)">
                  Mostrar senha
                </mat-checkbox>
                <span class='pk-login__signIn--form-forgetPassword' (click)='forgetPassword()'>Esqueci minha senha</span>
              </div>
              <div class='pk-form__group'>
                <button class='pk-form__button' mat-raised-button color='primary' [disabled]='!loginForm.valid'>Acessar</button>
              </div>
            </fieldset>
          </form>

          <!-- Forget Form -->
          <form class='pk-form pk-login__signIn--form-forget is--hidden js--form-forget' [formGroup]='forgetForm' (ngSubmit)='resetPassword()'>
            <fieldset class='pk-form__fieldset'>
              <div class='pk-form__group'>
                <p>Informe o e-mail cadastrado em sua conta para redefinir a senha.</p>
                <!-- <p>Lembrando que, para a senha ser redefinida, o e-mail deve estar verificado.</p> -->
                <mat-form-field class='pk-form__control'>
                  <span matPrefix>
                    <mat-icon class='pk-form__icon'>email</mat-icon>&nbsp;
                  </span>
                  <input matInput placeholder='E-mail' formControlName='email' required>
                  <mat-error *ngIf='forgetEmail.errors?.required'>
                    Digite um e-mail
                  </mat-error>
                  <mat-error *ngIf='forgetEmail.errors?.email'>
                    Insira um e-mail válido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class='pk-form__group'>
                <button class='pk-form__button' mat-raised-button color='primary' [disabled]='!forgetForm.valid'>Enviar</button>
                <button type='button' class='pk-form__button' mat-button color='accent' (click)='forgetPassword()' [disabled]='!forgetForm.enabled'>Voltar</button>
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Register -->
        <div class='pk-login__signIn--register'>
          <span class='pk-login__signIn--register-text'>Não tem uma conta?</span>
          <span class='pk-login__signIn--register-button'>
            <a (click)="showSignUp()" >Crie uma agora!</a>
          </span>
        </div>
      </div>
      <!-- Sign Up -->
      <div class='pk-login__signUp is--hidden js--login-signUp'>
        <!-- Heading -->
        <div class='pk-login__signUp--heading'>
          <figure class='pk-login__signUp--heading-icon'>
            <img class='js--login-signUp-icon' src='assets/img/icon.png' alt='Password Keeper - Icon'>
          </figure>
          <figure class='pk-login__signUp--heading-name'>
            <img src='assets/img/name.png' alt='Password Keeper - Name'>
          </figure>
        </div>

        <!-- Form -->
        <div class='pk-login__signUp--form'>
          <form class='pk-form pk-login__signUp--form' [formGroup]='registerForm' (ngSubmit)='register()'>
            <p>Preencha os campos abaixo para se cadastrar, é rápido.</p>
            <fieldset class='pk-form__fieldset'>
              <div class='pk-form__group'>
                <mat-form-field class='pk-form__control'>
                  <span matPrefix>
                    <mat-icon class='pk-form__icon'>account_circle</mat-icon>&nbsp;
                  </span>
                  <input matInput placeholder='Nome' formControlName='name' required>
                  <mat-error *ngIf='registerName.errors?.required'>
                    Digite seu nome
                  </mat-error>
                </mat-form-field>
              </div>
              <div class='pk-form__group'>
                <mat-form-field class='pk-form__control'>
                  <span matPrefix>
                    <mat-icon class='pk-form__icon'>email</mat-icon>&nbsp;
                  </span>
                  <input matInput placeholder='E-mail' formControlName='email' required>
                  <mat-error *ngIf='registerEmail.errors?.required'>
                    Digite o e-mail
                  </mat-error>
                  <mat-error *ngIf='registerEmail.errors?.email'>
                    Insira um e-mail válido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class='pk-form__group'>
                <mat-form-field class='pk-form__control'>
                  <span matPrefix>
                    <mat-icon class='pk-form__icon'>lock</mat-icon>&nbsp;
                  </span>
                  <input type='password' matInput placeholder='Senha' formControlName='password' required>
                  <mat-hint>A senha deve ter no mínimo 6 caracteres</mat-hint>
                  <mat-error *ngIf='registerPassword.errors?.required'>
                    Digite a senha
                  </mat-error>
                </mat-form-field>
              </div>
              <div class='pk-form__group'>
                <button class='pk-form__button' mat-raised-button color='primary' [disabled]='!registerForm.valid'>Registrar</button>&nbsp;
                <button type='button' class='pk-form__button' mat-button color='accent' (click)='showSignUp()' [disabled]='!registerForm.enabled'>Voltar</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
