@import './../../../assets/scss/_config-base';

@keyframes rotate {
  0% { transform: rotateY(0deg) }
  100% { transform: rotateY(360deg) }
}

.pk-login {
  width: 100vw;
  height: 100vh;
  transition: opacity .6s ease;

  &.is--hidden {
    visibility: hidden;
    opacity: 0;
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $color-background;
  }

  &__signIn,
  &__signUp {
    @include rem(padding, 30px);
    @include rem(border-radius, 10px);
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all .5s ease;

    @include mq('sm') {
      @include rem(width, 500px);
    }
    @include mq('sm', max) {
      width: 95%;
    }

    &.has--scroll {
      height: 95%;
      overflow-y: scroll;
    }

    &--heading {
      &-icon {
        @include rem(width, 100px);
        @include rem(margin, 0 auto);
        perspective: 1000;

        img.is--loading {
          animation: rotate 1s infinite;
        }
      }

      &-name {
        @include mq('sm') {
          @include rem(width, 250px);
        }
        @include mq('sm', max) {
          @include rem(width, 200px);
        }
        @include rem(margin, 0 auto 15px);
      }
    }
  }

  &__signIn {

    &.is--hidden {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }

    &--heading {
      @include rem(margin-bottom, 20px);
      text-align: center;

      &-icon {
        transition: all 1s ease .5s;
        &.is--hidden {
          visibility: hidden;
          opacity: 0;
          transform: scale(0);
        }
      }

      &-name {
        transition: all 1s ease-out 1.5s;
        &.is--hidden {
          visibility: hidden;
          opacity: 0;
          transform: translateY(-100%);
        }
      }
    }

    &--form {
      position: relative;

      &-showPasword {
        @include rem(margin-top, 15px);
        @include rem(font-size, 14px);
        display: block;
        color: $color-gray;
      }

      &-forgetPassword {
        @include rem(margin-top, 10px);
        @include rem(font-size, 14px);
        cursor: pointer;
        display: block;
        color: $color-gray;
        text-align: right;
      }

      &-login,
      &-forget {
        transition: all .5s ease;
        &.is--hidden {
          position: absolute;
          visibility: hidden;
          opacity: 0;
        }

        p {
          @include rem(font-size, 14px);
          color: $color-gray;
          text-align: center;
        }
      }

      &-login {
        &.is--hidden {
          transform: scale(0);
        }
      }

      &-forget {
        transition: all .5s ease;
        &.is--hidden {
          top: 0;
          transform: translateY(-100%);
        }

        .pk-form__button:first-child {
          @include rem(margin-right, 10px);
        }
      }
    }

    &--register {
      @include rem(margin-top, 10px);
      @include rem(padding-top, 20px);
      border-top: 1px solid #eee;

      span {
        display: block;
        text-align: center;
        color: $color-gray;
      }

      &-button {
        @include font-weight(bold);
        @include rem(margin-top, 5px);
        color: $color-primary !important;
      }
    }
  }

  &__signUp {
    p {
      @include rem(font-size, 14px);
      color: $color-gray;
      text-align: center;
    }

    &.is--hidden {
      transform: translateY(-150%);
      opacity: 0;
      visibility: hidden;
    }

    .pk-form__group:last-child {
      @include rem(margin-top, 40px);
    }
  }
}
