@import '~@angular/material/theming';
@include mat-core();

$pwdKeeper-app-primary: mat-palette($mat-teal);
$pwdKeeper-app-accent:  mat-palette($mat-blue-gray);
$pwdKeeper-app-warn:    mat-palette($mat-red);

$pwdKeeper-app-theme: mat-light-theme($pwdKeeper-app-primary, $pwdKeeper-app-accent, $pwdKeeper-app-warn);

@include angular-material-theme($pwdKeeper-app-theme);
