// Colors
$color-primary                  : #009688;
$color-secondary                : #546e7a;
$color-background               : #eceff1;

$color-gray                     : #757575;
$color-teal-darken              : #00796b;
$color-blue-grey-dark           : #263238;
$color-blue-grey-darken         : #000a12;
$color-background-navbar-item   : #212b31;

// Notify Colors
// Info
$color-notify-primary-info      : #67a4c0;
$color-notify-secondary-info    : #5191ad;
// Success
$color-notify-primary-success   : #3db56e;
$color-notify-secondary-success : #31a05e;
// Error
$color-notify-primary-error     : #c64444;
$color-notify-secondary-error   : #a90d0e;
// Warning
$color-notify-primary-warning   : #ebbc42;
$color-notify-secondary-warning : #d3a529;
